<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/searchCity" routerLinkActive="active">Search a City</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/currentLocation" routerLinkActive="active">Current Location</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container mt-1">
    <div class="row dt">
        <div class="col-md-6">
            <p class="h3">{{currentDate | date:'fullDate'}}</p>
        </div>
        <div class="col-md-6">
          <p class="h3 text-end">{{currentDate | date:'h:mm a'}}</p>
        </div>
    </div>
</div>