*
{
    color:#F4F4F4;
}
p{
    margin: 0;
}

body
{
    height:100vh;
    background: rgb(69,75,198);
    background: linear-gradient(180deg, rgba(69,75,198,1) 30%, rgba(6,9,80,1) 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.windDir{
    border:1px solid #F4F4F4;
    border-radius:50%;
    padding:3px;
}